body {
  background: #f7f7f7;
  font-family: 'Merriweather';
}
.container{
  height: 125px;
}
.logo{
  text-align: left;
  float: left;
}

.header-text{
  margin-top: 42px;
  color: #95A5A6;
  font-family: "ubuntu mono",monospace;
}

.right{
  float: right;
}

/* github fork icon */
.ribbon-wrap {
  position: absolute;
  left: 46px;
  top: 49px;
  width: 245px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-color: #a00;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #a00;
  box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.ribbon-wrap.right {
  left: inherit;
  right: -68px;
  top: 19px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ribbon-wrap .trap-ribbon {
  position: absolute;
  left: 31px;
  top: 2px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}
.ribbon-wrap .trap-ribbon a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #d8d8d8;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 22px;
  display: inline-block;
  border-top: 1px dotted rgba(255, 255, 255, 0.7);
  transition: color 500ms ease;
}
.ribbon-wrap .trap-ribbon a:hover {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.85);
}

/* github fork icon */

/* Console */
.console {
  background: #fff;
  padding: 0 0 2em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#console {
  font-family: "ubuntu mono",monospace;
    font-size: 22px;

}
.jquery-console-nofocus {
  opacity: 0.8;
}
.jquery-console-focus .jquery-console-cursor {
  background:#aaa;
  color:#eee
  font-weight:bold
}
.jquery-console-inner {
  height: 20em;
  overflow: auto;
  word-wrap: break-word;
}

.jquery-console-prompt, .jquery-console-message{
    font-size: 22px;
}
.jquery-console-prompt-label {
  color: #16a085;
  font-weight: bold;
  font-size: 24px;
}
.jquery-console-error {
  color: #c0392b;
}
.jquery-console-value {
  color: #2e659c;
}
.jquery-console-stdout {
  color: #216f42;
}
.jquery-console-type {
  color: #777;
}
.jquery-console-welcome {
  color: #888;
  margin-bottom: 0.5em;
}
