<!DOCTYPE html>
<html>
<head>
  <title>Python Console</title>
  <meta name="Content-Type" content="text/html; charset=UTF-8">
  {% load staticfiles %}
  <link rel='shortcut icon' type="image/ico" href='{% static 'images/favicon.ico' %}'/>
  <link rel="stylesheet" type="text/css" href="{% static "css/try_python.css" %}"/>
</head>
<body>
  <nav>
    <div class="row">
      <div class="span12">
        <img class="logo" src="/static/images/python.svg" width="80" height="80" />
          <h1 class="header-text">Try Python</h1>
      </div>
    </div>
  </nav>
  {% csrf_token %}
  <div class="console">
    <div class="span6" id="console">
    </div>
  </div>
  <div class="tutorial-content"></div>
  <script type="text/javascript" src="{% static "js/dist/scripts.js" %}"></script>
</body>
</html>
